{% extends 'base/base_template.html' %}
{% block page_title %}
Contacts
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Our contacts:</h3>

                <div class="card-tools">


                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Email: 1ap.pr@mail.ru</th>

                    </tr>
                  </thead>
                   <thead>
                    <tr>
                            <th>Address: Yakuba Kolasa 28</th>
                    </tr>
                  </thead>
                     <thead>
                    <tr>
                           <th>Phone number: +375 44 1870321</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

